<!doctype html>
<html>
	<head>
		<title>LobbyPop!</title>
		<link rel="stylesheet" href="/public/styles/display.css" media="all" />
	</head>
	<body>
		<iframe id="screen" rel="<%= [frameset, display].join( '-' ) %>"></iframe>
		<div id="overlay">
			<div id="label">
				<img src="/public/images/logo.png" border="0" alt="LobbyPop!" title="LobbyPop!" />
			</div>
		</div>
		<script type="text/javascript" src="/public/scripts/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/public/scripts/display.js"></script>
	</body>
</html>
