<!doctype html>
<html>
	<head>
		<title>LobbyPop!</title>
		<link rel="stylesheet" href="/public/styles/frameset.css" media="all" />
	</head>
	<body>
		<iframe src="/display/<%= frameset %>/left" id="left" frameborder="0"></iframe>
		<iframe src="/display/<%= frameset %>/right" id="right" frameborder="0"></iframe>
	</body>
</html>
