<!doctype html>
<html>
	<head>
		<title>LobbyPop!</title>
		<link rel="stylesheet" href="/public/styles/setup.css" media="all" />
	</head>
	<body>
		<img src="/public/images/logo.png" border="0" alt="LobbyPop!" title="LobbyPop!" />
		<div id="screens">
			<a href="/display/top">Top</a>
			<a href="/display/bottom">Bottom</a>
		</div>
	</body>
</html>
