body {
	margin: 0;
	padding: 1em;
	font-family: sans-serif;
	font-size: 0.75em;
}
table {
	width: 100%;
}
th, td {
	text-align: left;
	padding: 0.5em;
}
#logo {
	text-align: center;
}
#menu {
	position: absolute;
	top: 1em;
	right: 1em;
}
input[type=checkbox].pending {
	background-image: url(../images/loading.gif);
	border: solid 1px red;
}
a[target=_blank] {
	background-image: url(../images/external.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}