body {
	margin: 0;
	padding: 1em;
	font-family: sans-serif;
	font-size: 0.75em;
}
table {
	width: 100%;
}
th, td {
	text-align: left;
	padding: 0.5em;
}
th.numeric, td.numeric {
	text-align: right;
	white-space: nowrap;
}
#logo {
	text-align: center;
}
#menu {
	position: absolute;
	top: 1em;
	right: 1em;
}
#displays table {
	width: 720px;
	border: solid 1px #cccccc;
	padding: 1em;
}
#displays td {
	padding: 1em;
	text-align: center;
	line-height: 4em;
	font-size: 2em;
}
#displays td a {
	display: block;
	padding: 1em;
	color: #000000;
	border: solid 1px #cccccc;
	background-color: #f3f3f3;
	text-decoration: none;
}
#displays td a:hover {
	color: #333333;
	color: #003355;
	border: solid 1px #ccddee;
	background-color: #f3f5f7;
}
#displays td a.blank {
	background-color: white;
}
#sites a[target=_blank] {
	background-image: url(../images/external.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}