body {
	margin: 0;
	padding: 5em;
	width: 50%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
}
#screens {
	width: 100%;
	border: solid 1px #cccccc;
}
#screens a {
	display: block;
	margin: 2em;
	padding: 2em;
	color: #000000;
	border: solid 1px #cccccc;
	background-color: #f3f3f3;
	text-decoration: none;
}
#screens a:hover {
	color: #333333;
	color: #003355;
	border: solid 1px #ccddee;
	background-color: #f3f5f7;
}